
.table{
  width:100%;
  border-collapse: collapse;
  padding-left:200px;
  float:center;
}

body {
  background-color: gray;
}
.container{
  background:white;
  padding:20px;
}

tr:nth-child(even) {
  background-color: green;
  }
  /* footer when shrunk */
  /* @media (max-width: 992px) {
  footer{
    background-color: white;
    min-height:60px;
    text-align: left;
    color: black;
    padding-left:30px;
    padding-bottom:40px;
    border-top-width: 0px;
  }
 
} 

<div class="container">
        <div class="row top-buffer"></div>                
                <div class="row">
                        <div class="col-lg-12" style="overflow-x:auto">
                            <div class= data-content>
                                    <h1 class="header">Data</h1> <!--content header-->
                                    <hr class="content-hr">
                                    <p>The following table includes all of the data used for plotting during this project.</p>
                                    <br>   
                            <table border="0" class="dataframe table-striped">
                            <thead>